<div class="body">
    <div class="container">

        <div class="form">
            <div class="row">
                <div class="col-md-12">
                    <h1> <b> Bank Details </b></h1>
                </div>
            </div>
    


            <div class="row mt-2">
                <div class="container my-4 shadow p-4">
    
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100"
                                    src="https://c8.alamy.com/comp/FY9WXD/welcome-garden-with-flowers-flower-on-wooden-board-FY9WXD.jpg"
                                    alt="First slide">
                            </div>                        
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Bank Name</label>
                    <input type="text" class="form-control" placeholder="Bank name">
                </div>
                <div class="col">
                    <label>Bank Code</label>
                    <input type="text" class="form-control" placeholder="Bank ID">
                </div>
            </div>
    
            <div class="row">
                
                <div class="col">
                    <label>Status</label>
                    <select  id="validationCustom04"  placeholder="Choose...">
                        <option >Choose...</option>
                        <option>Active</option>
                        <option>Inactive</option>
                    </select>
                </div>

                <div class="col">

                </div>
                <button type="submit" class="btn btn danger"> Save</button>
                <button type="reset" class="btn btn secondary"> Clear</button>

            </div>

           
        </div>

      
        

        <!--lost  table -->
        <div class="col-md-12">

            <div class="card mt-4">
                <div class="card-body">
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Bank Name</th>
                                    <th>Bank Code</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

     

    </div>
   
</div>

