body {
    background-color: #85929e !important;
    color: aquamarine;
    background-image: "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/800px-Image_created_with_a_mobile_phone.png";
}


.container {
    /* background-color: #CCCCFF; */
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.form{
    background-image: "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/800px-Image_created_with_a_mobile_phone.png";
}


   
.row{
    margin-bottom: 20px;
}






input[type=text],
[type=password],
[type=textarea],
[type=date],
[type=radio],select {
    padding: 20px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    /* border-radius: 25px;
    border: 1px solid #34495e;
    padding: 20px;
    height: 15px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06); */
}

/* select {
    width: 100%;
    padding: 10px;
    /* border-radius: 10px; 
    border-radius: 35px;
    /* border: 1px solid #34495e; 
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
} */




input[type=text]:focus {
    background-color: #ebf5fb;
    border-color: #000;
}





input[type=text]:focus {
    background-color: #ebf5fb;
    border-color: #000;
}





hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}